################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BreesRename/bin/Debug
/BreesRename/obj/Debug
*.user
